@font-face {
  font-family: "URW-Regular";
  src: url(../fonts/URWGeometric-Regular.woff2);
}

@font-face {
  font-family: "URW-Bold";
  src: url(../fonts/URWGeometric-Bold.woff2);
}

@font-face {
  font-family: "URW-Black";
  src: url(../fonts/URWGeometric-Black.woff2);
}
