.promotion {
  padding: 160px 0 176px;
}

.promotion__item {
  margin-top: 80px;
}

.promotion__item-number {
  font-size: 58px;
  color: $green;
  font-family: "URW-Bold";
}

.text-center {
  margin-top: 120px;
  text-align: center;
}
