.tarif {
  padding: 160px 0;
}

.tarif__item {
  padding: 40px;
  background: #ffffff;
  text-align: center;
  border: 1px solid rgba(51, 51, 153, 0.2);
  border-radius: 23px;
  margin: 120px 0 32px;
  span {
    color: $green;
    font-size: 67px;
    font-family: "URW-Black";
  }
}

.tarif__item-img:last-child {
  margin-bottom: 52px;
}
.tarif__item-list {
  list-style: none;
  margin-bottom: 52px;
  text-align: left;
  display: inline-block;
  li {
    margin: 10px 0;
    position: relative;
    padding-left: 29px;
  }
  li:before {
    content: "";
    position: absolute;
    width: 17.5px;
    height: 13.5px;
    background: url(../img/tarif/check.svg);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  li.no:before {
    background: url(../img/tarif/cross.svg);
    width: 14px;
    height: 14px;
  }
}
