@media (max-width: 780px) {
  .menu__list {
    column-gap: 15px;
  }
}
@media (max-width: 580px) {
  .slogan__img {
    display: none;
  }
  .menu__list {
    flex-direction: column;
  }
  .slogan__title {
    margin-top: 120px;
  }
  .marketing__item-img {
    max-width: 350px;
  }
  .benefits {
    padding: 50px 0 50px;
  }
  .slogan {
    padding: 50px 0 50px;
  }
  .promotion {
    padding: 50px 0 50px;
  }
  .cards {
    padding: 50px 0 50px;
  }
  .marketing {
    padding: 50px 0 50px;
  }
  .footer__info {
    margin-top: 20px;
  }
  .footer__social {
    justify-content: start;
  }
  .promo__title {
    font-size: 35px;
  }
  .title {
    font-size: 25px;
  }
}
