<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="title">
      Что дает профиль компании на платформе <span>бок о бок</span> владельцам
      бизнеса?
    </h2>
    <div class="benefits__items row">
      <div class="col-lg-3 col-sm-6">
        <div class="benefits__item">
          <img
            class="benefits__item-img"
            src="img/benefits/benefits1.png"
            alt=""
          />
          <p class="benefits__item-text">
            Повышение рейтинга компании среди конкурентов в онлайне
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="benefits__item">
          <img
            class="benefits__item-img"
            src="img/benefits/benefits2.png"
            alt=""
          />
          <p class="benefits__item-text">
            Оптимизацию работы с лидерами мнений и негативными отзывами
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="benefits__item">
          <img
            class="benefits__item-img"
            src="img/benefits/benefits3.png"
            alt=""
          />
          <p class="benefits__item-text">
            Увеличение уровня доверия среди реальных и потенциальных клиентов
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="benefits__item">
          <img
            class="benefits__item-img"
            src="img/benefits/benefits4.png"
            alt=""
          />
          <p class="benefits__item-text">
            Расширение рынка сбыта продукции или зоны предоставления услуг
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
