<section class="cards">
  <div class="container">
    <h2 class="title">Управляйте репутацией своего бизнеса</h2>
    <div class="divider"></div>
    <p class="descr">
      Отзывы и мнения о товарах или услугах напрямую влияют на эффективность
      бизнеса, поэтому качественное позиционирование и формирование нужного
      мнения целевой аудитории — это то, ради чего была создана данная платформа
    </p>
    <div class="cards__items row">
      <div class="col-md-4 mt-sm-4">
        <div class="cards__item">
          <img src="img/cards/cards1.svg" alt="" class="cards__item-img" />
          <h3 class="item-title">Инициирование обратной связи с клиентом</h3>
          <p>
            Любой пользователь, оставляя мнение о товаре или сервисе,
            рассчитывает на ту или иную реакцию компании. Грамотная работа с
            отзывами позволяет улучшить потребительский опыт клиента и, как
            следствие, повысить уровень доверия бизнесу
          </p>
        </div>
      </div>
      <div class="col-md-4 mt-sm-4">
        <div class="cards__item">
          <img src="img/cards/cards2.svg" alt="" class="cards__item-img" />
          <h3 class="item-title">Актуализация пользовательского опыта</h3>
          <p>
            Партнерский аккаунт в рамках платформы дает не только возможность
            общаться со своими клиентами напрямую, но и модерировать поступающие
            отзывы. Данная опция сокращает поток необоснованного недовольства
            клиентов и акцентирует внимание аудитории на положительном опыте
            реальных пользователей
          </p>
        </div>
      </div>
      <div class="col-md-4 mt-sm-4">
        <div class="cards__item">
          <img src="img/cards/cards3.svg" alt="" class="cards__item-img" />
          <h3 class="item-title">Продвижение бренда внутри платформы</h3>
          <p>
            Внутренняя реклама позволяет владельцем бизнеса находить новых
            клиентов и партнеров непосредственно на самой платформе. Показы
            происходят не только на страницах со схожей тематикой, но и
            захватывают смежные отрасли
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
