<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="logo">
        <img src="img/header/logo.png" alt="logo" class="logo__img" />
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#benefits" class="menu__link">Преимущества</a>
          </li>
          <li class="menu__item">
            <a href="#marketing" class="menu__link">Шаги продвижения</a>
          </li>
          <li class="menu__item">
            <a href="#tarif" class="menu__link">Цена</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
