<section class="marketing" id="marketing">
  <div class="container">
    <h2 class="title">Продвижение бизнеса онлайн</h2>
    <div class="divider"></div>
    <p class="descr">
      БОК о БОК — это специализированная платформа для продвижения в сети и
      работы с отзывами клиентов
    </p>
    <div class="row align-items-center">
      <div class="col-5">
        <img
          src="img/marketing/marketing1.svg"
          alt=""
          сlass="marketing__item-img"
          width="330px"
        />
      </div>
      <div class="col-md-5 col-sm-10 mt-5 offset-md-2">
        <h3 class="item-title">Готовая SEO-оптимизация профиля</h3>
        <p>
          Страницы компаний на www.bokobok.com создаются с учетом важных
          факторов ранжирования поисковых систем Google и Яндекс, что позволяет
          занимать высокие позиции в поиске и привлекать потенциальных клиентов
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5 offset-md-2">
        <img
          src="img/marketing/marketing2.svg"
          alt=""
          сlass="marketing__item-img"
          width="330px"
        />
      </div>
      <div class="col-md-5 col-sm-10 order-md-first mt-5">
        <h3 class="item-title">Удобные инструменты для маркетинга</h3>
        <p>
          Кабинет владельца бизнеса располагает удобным инструментарием для
          позиционирования в сети, отслеживания базовых и уникальных метрик
          поведения аудитории, а также все необходимое для запуска рекламных
          кампаний, включая email-рассылку
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-5">
        <img
          src="img/marketing/marketing3.svg"
          alt=""
          сlass="marketing__item-img"
          width="330px"
        />
      </div>
      <div class="col-md-5 col-sm-10 mt-5 offset-md-2">
        <h3 class="item-title">Участие в партнерских программах</h3>
        <p>
          Подключение к партнерской программе предполагает дополнительный канал
          для продвижения бизнеса, ведь тогда владелец компании может запускать
          рекламный контент не только в рамках ресурса БОК о БОК, но и на
          специализированных партнерских площадках
        </p>
      </div>
    </div>
  </div>
</section>
