<section class="promotion">
  <div class="container">
    <h2 class="title">3 шага для последовательного продвижения</h2>
    <div class="promotion__item row">
      <p class="promotion__item-number col-sm-1 offset-md-1 offset-sm-0">01</p>
      <div class="promotion__item-descr col-md-8 col-sm-10 offset-sm-1">
        <h3 class="item-title">Создайте профиль компании</h3>
        <p>
          Функционал платформы позволяет не только подробно рассказывать о своем
          торговом предложении, но и обрабатывать запросы потенциальных
          клиентов. Создание профиля абсолютно бесплатно и не требует больших
          временных затрат
        </p>
      </div>
    </div>
    <div class="promotion__item row">
      <p class="promotion__item-number col-sm-1 offset-md-1 offset-sm-0">02</p>
      <div class="promotion__item-descr col-md-8 col-sm-10 offset-sm-1">
        <h3 class="item-title">Создайте профиль компании</h3>
        <p>
          Функционал платформы позволяет не только подробно рассказывать о своем
          торговом предложении, но и обрабатывать запросы потенциальных
          клиентов. Создание профиля абсолютно бесплатно и не требует больших
          временных затрат
        </p>
      </div>
    </div>
    <div class="promotion__item row">
      <p class="promotion__item-number col-sm-1 offset-md-1 offset-sm-0">03</p>
      <div class="promotion__item-descr col-md-8 col-sm-10 offset-sm-1">
        <h3 class="item-title">Создайте профиль компании</h3>
        <p>
          Функционал платформы позволяет не только подробно рассказывать о своем
          торговом предложении, но и обрабатывать запросы потенциальных
          клиентов. Создание профиля абсолютно бесплатно и не требует больших
          временных затрат
        </p>
      </div>
    </div>
    <div class="text-center">
      <button class="btn">Создать профиль компании</button>
    </div>
  </div>
</section>
