<section class="tarif" id="tarif">
  <div class="container">
    <h2 class="title">
      Выберите тарифный план для эффективного продвижения в сети
    </h2>
    <div class="divider"></div>
    <p class="descr">
      Набор маркетинговых бизнес-инструментов позволит настроить оптимальную
      стратегию раскрутки компании внутри платформы
    </p>
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <div class="tarif__item">
          <h3 class="item-title">Базовый</h3>
          <p><span>$0</span>/месяц*</p>
          <div class="divider divider_green"></div>
          <ul class="tarif__item-list">
            <li>Размещение информации о бизнесе</li>
            <li class="no">Коммуникация от лица компании</li>
            <li class="no">Модерация клиентских отзывов</li>
            <li class="no">Рекламное продвижение</li>
            <li class="no">Круглосуточная техподдержка</li>
          </ul>
          <div><button class="btn">Подключить</button></div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="tarif__item">
          <h3 class="item-title">Партнерский</h3>
          <p><span>$50</span>/месяц*</p>
          <div class="divider divider_green"></div>
          <ul class="tarif__item-list">
            <li>Размещение информации о бизнесе</li>
            <li>Коммуникация от лица компании</li>
            <li>Модерация клиентских отзывов</li>
            <li>Рекламное продвижение</li>
            <li>Круглосуточная техподдержка</li>
          </ul>
          <div><button class="btn">Подключить</button></div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="col-md-5 offset-md-1">
        *Тарифный план можно изменить в любое время
      </p>
    </div>
  </div>
</section>
